@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --clr-accent: #777;
  --clr-message: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}
.menu {
  margin: 0 15px;
}

.heading p {
  color: #828282;
}

/* .posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
} */

.post {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.post .post__header{
  display: flex;
  flex-direction: row;
  margin: 10px 5px;
  justify-content: space-between;
}

.post .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}
.schedule__header{
  display: flex;
  justify-content: row;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.calendar__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar__controls{
  display: flex;
  flex-direction:row;
}
.calendar__controls button{
  margin: 5px;
}


.calendar__container{
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 95%;
}
.calendar__headings,
.calendar__week_field{
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(7, 14.3%);
}

.calendar__week_field{
  grid-template-rows: repeat(6, 16.60%);
  
}
.events__containter{
  width: 100%
}
.events{
  width: 100%
}

.event__headings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid var(--clr-accent) 1px;
}
.event__headings div{
  width: 14.25%
}
.event__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--clr-accent) 1px;
  height: auto;
}
.event__row div{
  width: 14.25%;
  margin: 5px 5px;
}
.event__row div button{
  margin: 0 auto;
}

.calendar__day_field{
  border: 1px var(--clr-accent) solid;
}

.selected {
  background: rgb(184, 253, 81);
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}
.form-group textarea {
  height: 125px;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.addEvent__timeGroup{
  display: flex;
  flex-direction: row;
}
.addEvent__timeGroup label{
  width: 50%;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message{
  color: var(--clr-message)
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}